:root {
  --colorBlue: #00ade8;
  --colorBlack: #000;
  --colorGray: #62677a;
  --colorTitle: #171b2f;
  --boxShadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --colorButtonPrimary: #00ccff;
  --colorButtonGreen: #6ecb63;
  --colorButtonRed: #ff4d4d;
  --colorWhite: #fff;
  --colorGrayBland: #f5f5f5;
  --colorError: #d32f2f;
  --colorLabel: #343747;
}
