.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  cursor: pointer;
  &--success-outline {
    background-color: #6ecb63;
    color: #ffffff;
  }
  &--error-outline {
    background-color: #ff4d4d;
    color: #ffffff;
  }
  &--close-addProduct {
    background-color: #ffffff;
    color: var(--colorButtonPrimary);
  }
  &--add-addProduct {
    background-color: var(--colorButtonPrimary);
    color: #ffff;
  }
  &--close-editProduct {
    background-color: #ffffff;
    color: var(--colorButtonPrimary);
  }
  &--add-editProduct {
    background-color: var(--colorButtonPrimary);
    color: #ffff;
  }
  &--update-delete-editProduct {
    background-color: rgba(255, 255, 255, 0.5);
    color: #ffff;
  }
}
